h1{color: red}
h2{color: blue}
h3{color: purple}
p{color: black}

.table1 {border-color: black;border-style: solid; border-width:5 ;}
.row1 {background-color: #efcfd4; padding: 10; text-align: center;}
.row2 {background-color: #CFEFCF; padding: 10; text-align: center;}